<nav class="px-12 py-6 d-flex flex-row-reverse justify-content-between align-items-center bg-gray" data-aos="fade-up" data-aos-duration="200" data-aos-anchor-placement="bottom">
    <a href="index.html"><img src="assets/images/icons/logo-fixie.svg" alt="Fixie"></a>
    <small class="text-secondary">© 2020 Fixie. All Rights Reserved.</small>
    <ul class="list-unstyled font-weight-bold d-flex align-items-center">
        <li class="mr-12">
            <a href="#">Product</span></a>
        </li>
        <li class="mr-12">
            <a href="#">Blog</a>
        </li>
        <li class="mr-12">
            <a href="#">Contact</a>
        </li>
      </ul>
</nav>