<footer class="bg-primary text-white px-2 py-3 p-md-5">
    <div class="container">
        <div class="border-bottom-white pb-3 mb-3">
            <nav class="nav float-xs-right float-sm-none mx-n2 mb-sm-3">
                <ul class="nav d-none d-sm-flex">
                    <li class="mr-md-5 mr-lg-2"><a href="#" class="nav-link">系列鏡框</a></li>
                    <li class="mr-md-5 mr-lg-2"><a href="location.html" class="nav-link">門市據點</a></li>
                    <li class="mr-md-5 mr-lg-2"><a href="#" class="nav-link">部落格</a></li>
                    <li class="mr-md-5 mr-lg-2"><a href="faq.html" class="nav-link">常見問題</a></li>
                </ul>
                <ul class="nav d-none d-xs-flex">
                    <li class="ml-1"><a href="#" class="nav-link my-n1 px-1"><img src="assets/images/icon/icon-fb.svg" alt="Go to Facebook" class="icon"></a></li>
                    <li class="ml-1"><a href="#" class="nav-link my-n1 px-1"><img src="assets/images/icon/icon-ig.svg" alt="Go to Instagram" class="icon"></a></li>
                    <li class="ml-1"><a href="#" class="nav-link my-n1 px-1"><img src="assets/images/icon/icon-line.svg" alt="Go to Line" class="icon"></a></li>
                </ul>
            </nav>
            <ul class="fz-md-10 fz-lg-18">
                <li class="mb-1 mb-md-2"><a href="tel:+0800-000-000" class="d-flex align-items-center"><img src="assets/images/icon/icon-phone.svg" alt="Telephone" class="icon mr-1">0800-000-000</a></li>
                <li><a href="mailto:glasses@business.com" class="d-flex align-items-center"><img src="assets/images/icon/icon-mail.svg" alt="Email" class="icon mr-1">glasses@business.com</a></li>
            </ul>
        </div>
        
    </div>
    <div class="container position-relative position-lg-initial d-lg-flex align-items-lg-center">
        <a href="index.html" class="footer-logo position-absolute position-lg-initial d-sm-none d-lg-block mr-lg-5"><img src="assets/images/logo.png" alt="Logo" class="logo"></a>
        <ul class="nav fz-7 w-100 d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
            <li class="mb-1 mb-sm-0 mr-sm-auto fz-sm-8">
                <p>Copyright © 2020 Glasses.All rights reserved.</p>
            </li>
            <li class="ml-n2 ml-sm-0"><a href="#" class="nav-link">隱私權政策</a></li>
            <li class="ml-n2 ml-sm-0 ml-md-4"><a href="#" class="nav-link">服務條款</a></li>
        </ul>
    </div>
</footer>