<nav class="px-12 py-6 d-flex align-items-center" data-aos="fade-down" data-aos-duration="300">
    <a href="index.html">
        <h1>
            Fixie
            <img src="assets/images/icons/logo-fixie.svg" alt="Fixie">
        </h1>
    </a>
  
    <ul class="list-unstyled ml-auto fz-12 font-weight-bold d-flex align-items-center">
        <li class="ml-12">
            <a href="#">Product</span></a>
        </li>
        <li class="ml-12">
            <a href="#">Blog</a>
        </li>
        <li class="ml-12">
            <a href="#">Contact</a>
        </li>
      </ul>
  </nav>