<nav class="nav bg-primary text-white text-center flex-column flex-md-row px-md-5 py-md-4 px-lg-11">
    <h1><a href="index.html" class="logo my-1 my-md-0"><img src="assets/images/logo.png" alt="Logo" class="nav-img">眼鏡電商</a></h1>
    <ul class="row w-100 w-md-auto fz-10 font-weight-bold">
        <li class="px-0 col-6 col-sm-3 col-md-auto ml-md-3"><a href="#" class="nav-link border-xs-white">系列鏡框</a></li>
        <li class="px-0 col-6 col-sm-3 col-md-auto ml-md-3"><a href="location.html" class="nav-link border-xs-white">門市據點</a></li>
        <li class="px-0 col-6 col-sm-3 col-md-auto ml-md-3"><a href="#" class="nav-link border-xs-white">部落格</a></li>
        <li class="px-0 col-6 col-sm-3 col-md-auto ml-md-3"><a href="faq.html" class="nav-link border-xs-white">常見問題</a></li>
    </ul>
</nav>