.banner
    height: calc( 100vh - 141px )
    background-image: url(../images/banner-sm.png)

    @include rwd(375px)
        height: calc( 100vh - 137px )

    @include rwd(576px)
        height: calc( 100vh - 91px )

    @include rwd(768px)
        height: calc( 100vh - 113px )
        background-image: url(../images/banner.png)

.about
    &-img
        width: 80px
        height: 80px
    .card
        max-width: 237px

.classic
    &-icon
        width: 2rem
        @include rwd(992px)
            width: 3rem

.cooperation
    background-image: url(../images/bg.png)

.recommend
    &-time
        color: #707070

.contact
    .container
        @include rwd(576px)
            max-width: 450px

        @include rwd(992px)
            max-width: 730px
    &-btn
        width: 165px

        @include rwd(768px)
            width: 200px
            
        @include rwd(992px)
            width: 350px